#  Backend (FastAPI)
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9

#  Google Calendar
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0

#  Frontend
streamlit==1.35.0

#  Secrets
python-dotenv==1.0.1

#  Gemini AI
google-generativeai==0.8.5
